<% content_for :title, 'Common questions about our Bootcamp' %>
<% content_for :description, 'Find answers to the most common questions we get about our IOS and Ruby on Rails Development bootcamps.' %>

<h1>StaticPages#faq</h1>
<p>Find me in app/views/static_pages/faq.html.erb</p>
