<h1> You did it!</h1>
<h2> You signed up for DevPoint Labs, that's pretty damn cool!</h2>

<p> Your login credentials are:</p>
<p> Email: <%= @user.email %></p>

<p> If you need to reset your password, <%= link_to "Click Here", new_user_password_url %></p>

<p> Best regards, </p>

<p> DevPoint Labs Team </p>
